#app {
  padding: 0.6em 1em 1em 1em;
}

.hdx-claim-main-container {
  border: 2px solid $hdx-pink;
  height: 100%;
  padding: 0.25em;

  .hdx-claim-inner-container {
    position: relative;
    border: 2px solid $hdx-pink;
    height: 100%;
    background-image: url('~@/assets/images/snakes-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .main-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 0em 0.7em rgba($hdx-bgr-blue, 0.5);
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    background-color: $hdx-drk-blue;
    display: flex;
    justify-content: center;

    a {
      display: flex;
      align-items: center;
      text-transform: uppercase;

      img {
        margin: 0.3em 0.5em;
        display: inline-block;
        width: 1.7em;
      }

      h1 {
        font-weight: 500;
        font-size: 1.1em;
        margin: 0;
      }
    }
  }

  .content-container {
    position: relative;
    height: 100%;
    display: flex;

    justify-content: center;
    align-items: center;
  }

  .wizard-progress-status {
  }

  .wizard-steps-container {
    background-color: $hdx-drk-blue;
    width: 100%;
    max-width: 27em;
    padding: 2em;
    box-shadow: 0.5em 0.5em rgba($hdx-bgr-blue, 0.8);
    position: relative;

    .loading-cover-message {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($hdx-drk-blue, 0.9);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $hdx-light-blue;
      padding: 10px;

      z-index: 5;

      .global-notice-message {
        font-size: 14px;
      }
    }

    .next-step {
      width: 100%;
    }

    .text-label {
      margin-bottom: 1em;
      margin-top: 1em;
    }

    .connect-metamask {
      width: 100%;
    }

    .install-polkadot-ext {
      width: 100%;
    }

    .polkadot-accounts-select {
      margin-top: 2em;

      background-color: $hdx-light-blue;
      color: $hdx-drk-blue;
      text-align: left;

      .accounts-list-container {
        overflow-y: scroll;
        max-height: 300px;
      }

      .list-title {
        font-weight: 600;
      }

      .empty-accounts-list-notice {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      .account-item {
        padding: 0.5em;
        border: 2px solid transparent;

        &:hover {
          border-color: $hdx-light-blue;
          background-color: $hdx-drk-blue;
          color: $hdx-light-blue;
          cursor: pointer;
        }

        &.selected {
          border-color: $hdx-drk-blue;

          .name {
            font-weight: 600;
          }
        }
      }
    }

    .select-pd-account {
      text-align: center;
      display: block;
      width: 100px;
      margin: 1em auto;
      border: 1px solid;
      border-color: $hdx-drk-blue;

      &.disabled {
        background-color: $hdx-blue;
        color: $hdx-drk-blue;
      }
    }

    .selected-account-view {
      width: 100%;

      background-color: $hdx-light-blue;
      color: $hdx-drk-blue;
      text-align: center;

      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      &.hydradx-account {
        margin-top: 20px;
      }
    }

    .sign-message-container {
      position: relative;
      margin-top: 2em;

      .copy-action-btn {
        position: absolute;
        right: 1.2em;
        top: 0.5em;

        cursor: pointer;

        img {
          width: 20px;
        }
      }

      .sign-message {
        padding: 1em;
        padding-top: 2.3em;
        background-color: $hdx-light-blue;
        color: $hdx-drk-blue;

        width: 100%;

        text-align: left;
      }
    }

    .status-message-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .status-icon {
        background-color: $hdx-light-blue;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 50px;
        }
      }
    }
  }
}
