.hdx-btn {
  display: inline-block;
  background-color: $hdx-light-blue;
  //border: 5px outset #0c36a1;
  border: 2px solid $hdx-light-blue;
  box-shadow: 6px 6px $hdx-bgr-blue;
  color: $hdx-bgr-blue;
  text-decoration: none;
  font-size: 18px;
  //padding: 0.3em;
  //margin: 0.3em;
  vertical-align: middle;
  white-space: nowrap;
  padding: 12px 20px 8px 20px;

  &:hover {
    color: $hdx-light-blue;
    border-color: $hdx-bgr-blue;
    background-color: $hdx-bgr-blue;
    box-shadow: 6px 6px transparent;
    outline: none;
    //transform: translate(6px, 6px);
  }

  &.disabled {
    box-shadow: 6px 6px transparent;
    border: 2px solid $hdx-light-blue;
    background-color: transparent;
    color: $hdx-light-blue;
    pointer-events: none;

    &:hover {
      //cursor: not-allowed;
    }
  }
}

.hdx-input {
  background-color: transparent;
  border-top: 3px inset $hdx-bgr-blue;
  border-left: 3px inset $hdx-bgr-blue;
  border-bottom: 3px inset $hdx-light-blue;
  border-right: 3px inset $hdx-light-blue;
  box-shadow: none;
  border-radius: 0;
  height: 50px;
  width: 100%;
  display: block;
  outline: none;
  color: $hdx-light-blue;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

//.hdx-textarea {
//  background-color: $hdx-light-blue;
//  color: $hdx-blue;
//  font-size: 16px;
//  padding: 15px;
//  width: 100%;
//  max-width: 100%;
//  min-width: 100%;
//  height: 100px;
//  max-height: 100px;
//  min-height: 100px;
//}
